extends layout

block center-content
    img.horizontal-center#stan(src='/images/moose-white.png')
    div#welcome-text
        h1.title UofTHacks VIII
        h3.title February 19-21, 2021
        a#typeform-link(href='https://uofthacks2020.typeform.com/to/K8bQ5X5L')
            div#apply
                p Apply now!
        p#successIndicator
block lower-content
    div.scroll-location#about
    div
        div.section
            h2 >> About UofTHacks
        div.info
            p For the 8th consecutive year, Canada’s first student-run hackathon, UofTHacks, will bring together 500 innovators, technology enthusiasts, designers, and entrepreneurs in a thrilling competition where they will embark on a journey to build unique and impactful projects.
    div
        div.section
            h2 >> What is a hackathon?
        div.info
            p An event, typically lasting several days, in which a large number of people meet to engage in collaborative computer programming. We look past this traditional definition of a hackathon and take it to new heights. UofTHacks is the University of Toronto's annual hackathon. At UofTHacks, we bring people together to make new friends, learn new things, and bring new ideas to life.
    div.scroll-location#sponsors
    div
        div.section
            h2 >> Sponsors
        div.row.level1
            div
                a(href='https://www.rbc.com/', target='_blank')
                    img(src='/images/sponsors/rbc.png')
        div.row.level2
            div
                a(href='https://distributed.computer/', target='_blank')
                    img.white(src='/images/sponsors/distributed-computer.png')
            div
                a(href='https://www.cse-cst.gc.ca/', target='_blank')
                    img.white(src='/images/sponsors/cse.png')
        div.row.level3
            div
                a(href='https://entrepreneurs.utoronto.ca/', target='_blank')
                    img(src='/images/sponsors/ute.jpg')
            div
                a(href='https://www.gm.com/', target='_blank')
                    img.white(src='/images/sponsors/gm.png')
            div
                a(href='https://www.fdmgroup.com/', target='_blank')
                    img.white(src='/images/sponsors/fdm.png')
            div
                a(href='https://pg.com/', target='_blank')
                    img(src='/images/sponsors/pg.jpg')
        div.row.level4
            div
                a(href='https://balsamiq.com/', target='_blank')
                    img(src='/images/sponsors/balsamiq.png')
        div.row.level5
            div
                a(href='https://maplesoft.com/', target='_blank')
                    img.white(src='/images/sponsors/maplesoft.png')
            div
                a(href='https://repl.it/', target='_blank')
                    img.white(src='/images/sponsors/repl.it.svg')
    div.scroll-location#faq
    div
        div.section
            h2 >> Frequently Asked Questions
        div.row
            div.faq-item
                h3.faq-question >> When and where is UofTHacks happening?
                div.faq-answer
                    p It will be happening online, from February 19th to the 21st on Hopin and Discord.
            div.faq-item
                h3.faq-question >> I don't have an idea/team, what should I do?
                div.faq-answer
                    p No worries! Although hackathons are often a team experience, we welcome solo hackers as well! If you’d like to find a team before the event, we will be hosting a team formation opportunity shortly before the start of the hackathon!
        div.row
            div.faq-item
                h3.faq-question >> Do I have to know how to code beforehand?
                div.faq-answer
                    p Not at all — UofTHacks is a perfect opportunity to learn something new! Throughout the event we’ll have tons of workshops to help you get set up. We’ll also have mentors floating around to help out whenever you need it!
            div.faq-item
                h3.faq-question >> Can I attend if I live far away?
                div.faq-answer
                    p Yes, you are more than welcome to attend!
        div.row
            div.faq-item
                h3.faq-question >> What can I hack on?
                div.faq-answer
                    p Anything! As we get closer to the date, we’ll provide you with access codes and APIs that'll be available to you at the hackathon. You’re also welcome to use your own tools.
            div.faq-item
                h3.faq-question >> How many hackers per team?
                div.faq-answer
                    p Each team can have up to 4 hackers!
        div.row
            div.faq-item
                h3.faq-question >> Are high school students eligible to apply?
                div.faq-answer
                    p Absolutely!
            div.faq-item
                h3.faq-question >> What's the deadline for applying?
                div.faq-answer
                    p The deadline to apply for UofTHacks is January 31st, 2021.
        div.row
            div.faq-item
                h3.faq-question >> What else should I know?
                div.faq-answer
                    p
                        | As an MLH event member, we expect all of our attendees to behave according to the Code of Conduct found 
                        a(href='https://static.mlh.io/docs/mlh-code-of-conduct.pdf', target='_blank') here
                        | .
            div.faq-item
                h3.faq-question >> I still have a question...
                div.faq-answer
                    p
                        | We’d be happy to help! Send the inquiry over to 
                        a(href='mailto:contact@uofthacks.com') contact@uofthacks.com
                        |  and we’ll get back to you as soon as possible.
