doctype html
html
    head
        title UofTHacks VIII
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/script.js')
    body
        canvas#matrix(width=2000, height=1000)
        div.center
            block content
