doctype html
html
    head
        title UofTHacks VIII
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/script.js')
        meta(name='format-detection', content='telephone=no')
    body
        canvas#matrix
        div.center#content
            block content
