doctype html
html
    head
        title UofTHacks VIII
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css')
        script(src='/javascripts/script.js')
        meta(name='format-detection', content='telephone=no')
    body
        a#mlh-trust-badge(style='display:block;max-width:100px;min-width:60px;position:fixed;right:50px;top:0;width:10%;z-index:10000', href='https://mlh.io/seasons/2021/events?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2021-season&utm_content=black', target='_blank')
            img(src='https://s3.amazonaws.com/logged-assets/trust-badge/2021/mlh-trust-badge-2021-black.svg', alt='Major League Hacking 2021 Hackathon Season', style='width:100%')
        canvas#matrix
        div#navbar
            div.nav-entry
                a(href='#')
                    img(src='/images/moose-white.png')
            div.nav-entry
                a(href='#about') About
            div.nav-entry
                a(href='#sponsors') Sponsors
            div.nav-entry
                a(href='#faq') FAQ
        div.center#center-content
            block center-content
        div#screen-size
        div#lower-content
            block lower-content
        div#footer
            a(href='mailto:contact@uofthacks.com') contact@uofthacks.com
            a(href='https://www.facebook.com/UoftHacks/', target='_blank')
                i(class='fab fa-facebook-f')
            a(href='https://instagram.com/UofTHacks/', target='_blank')
                i(class='fab fa-instagram')
            a(href='https://twitter.com/UofTHacks', target='_blank')
                i(class='fab fa-twitter')
