html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    display: block;
    margin: 0px;
    background-color: #000000;
    color: #ffffff;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

a {
    color: #00ffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a#typeform-link {
    text-decoration: none;
}

p {
    font-weight: bold;
}

.horizontal-center {
    display: block;
    margin: 0px auto;
}

.center {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section {
    padding: 0% 10%;
}

.section h2 {
    margin-bottom: 8px;
}

.panel {
    background-color: #429e31;
}

.info {
    margin-right: 10%;
    padding: 16px 16px 16px calc(10% + 64px);
}

.info p {
    margin: 0px;
}

.sponsors {
    padding: 32px 0px;
}

canvas#matrix {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
}

div#bg {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('/images/skyline-green.png');
    background-attachment: fixed;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: all 0.25s;
}

div.transparent#bg {
    opacity: 0.25;
}

div#navbar {
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: transparent;
    transition: all 0.25s;
}

div.black#navbar {
    background-color: #000000;
}


div#navbar a {
    color: #ffffff;
    text-decoration: none;
}

div.nav-entry {
    padding: 8px 16px;
}

div.nav-entry img {
    height: 32px;
    max-height: 32px;
}

div.scroll-location {
    height: 56px;
}

div.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div.row.top {
    align-items: stretch;
}

div.row > div {
    margin: 0px 32px;
}

div.row a img {
    transition: all 0.25s;
}

div.row a:hover img {
    transform: scale(1.1);
}

div.level1 * {
    max-width: 350px;
    max-height: 350px;
}

div.level2 * {
    max-width: 300px;
    max-height: 300px;
}

div.level3 * {
    max-width: 250px;
    max-height: 250px;
}

div.level4 * {
    max-width: 200px;
    max-height: 200px;
}

div.level5 * {
    max-width: 150px;
    max-height: 150px;
}

div.sponsors img {
    min-width: 150px;
}

div.faq-item {
    width: 500px;
}

div.faq-answer {
    border-radius: 12px;
    margin: 0px 0px 24px;
    padding: 16px;
    width: inherit;
}

div.faq-answer p {
    margin: 0px;
}

div#center-content {
    white-space: nowrap;
}

div#welcome-text {
    padding: 10px;
}

div#screen-size {
    height: 100%;
}

div#footer {
    font-size: 16px;
    text-align: center;
    background-color: #429e31;
    padding: 16px;
}

div#footer a {
    color: white;
    margin: 0px 16px;
}

img#stan {
    width: 200px;
}

.title {
    text-align: center;
}

h1.title {
    margin-top: 0px;
    margin-bottom: 0px;
}

h3.title {
    margin-top: 8px;
    margin-bottom: 16px;
}

h3.faq-question {
    margin-bottom: 8px;
}

div#apply {
    background-color: #429e31;
    color: #ffffff;
    border-radius: 32px;
    width: 100%;
    padding: 12px 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    text-align: center;
    box-shadow: 0px -1px 4px #ffffff, 0px 1px 4px #000000;
}

div#apply:hover {
    background-color: #328e21;
}

div#apply p {
    margin: 0px;
}

p#successIndicator {
    color: #ffff00;
    font-size: 12px;
}
